@import './base.css';

.el-container {
  margin: 0 auto;
  padding: 10px;
}

#app {
  /* background-color: #f3f5f7; */
  background-color: white;
}

.el-main {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.search-card {
  width: 100%;
  border-radius: 8px;
  color: black;
  margin: 8px 0px;
}

.card-padding {
  padding: 8px;
}

.el-input.custom-input {
  width: 100%;
  height:50px;
  --el-input-border-radius: 8px;
  --el-input-border-color: black;
  --el-input-placeholder-color: darkgray;
}

.employee-box {
  width: 100%;
}

.employee-box-with-padding {
  width: 100%;
  padding-bottom: 50%;
}

.el-input {
  --el-input-text-color: black;
  --el-input-hover-border: var(--el-border-color-hover);
  --el-input-focus-border: var(--el-color-primary);
  border-style: inherit;
  border-color: black;
  border-radius: 32px;
  --el-input-bg-color: var(--el-fill-color-blank);
  --el-input-icon-color: var(--el-text-color-placeholder);
  --el-input-placeholder-color: black;
  --el-input-hover-border-color: var(--el-border-color-hover);
  --el-input-clear-hover-color: var(--el-text-color-secondary);
  --el-input-focus-border-color: var(--el-color-primary);
  --el-input-width: 100%;
}

.empty-card {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.empty-card-text {
  width: auto;
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.el-card.request-item {
  width: 100%;
  height: 100px;
  padding: 8px;
  margin: 8px 0px;
  cursor: pointer;
  border-radius: 8px;
}

.el-card.selected-card {
  border: 3px solid #007cff;
}

el-card.deselected-card {
  border: none;
}

.flexible {
  display: flex;
}

.title-text {
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  margin: 4px 0px 4px 0px;
}

.subtitle-text {
  font-size: 0.7rem;
  color: darkgray;
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  margin: 0px 4px 0px 4px;
}

.el-pagination .el-select .el-input {
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
}

.bot-gif {
  background-color: lightgray;
}